body {
    font-family: Arial, sans-serif;
    background-color: #F7ECDE;
    text-align: center;
    padding: 20px;
}

.container {
    width: 85%;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 500;
    color: #352e28;
}
.highlight-title {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #352e28;
  position: relative; 
  display: inline-block; 
}
.highlight-title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 5px;
  background-color: #fec260;
  transition: height 0.3s;
  z-index: -1; 
}
.highlight-title:hover::before {
  height: 50%;
}
.dotted-line {
    border-bottom: 2px dotted #352e28;
    margin-bottom: 20px; 
}
h2 {
    background: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: salmon;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
